openapi: 3.2.0
info:
  title: Analytics Dashboards API
  version: 1.0.0
  description: To acquire a personal access token go to Account settings and create a new token or use an existing one
servers:
- url: https://analytics.pypestream.com/
  description: Production server US
security:
- APIKey: []
tags:
- name: Dashboards
paths:
  /api/datasets/{dataset_id}/dashboards/:
    get:
      description: 'Dashboard: A customizable page within Analytics used for organizing and displaying multiple key metrics, charts, and Insights in one place for monitoring and reporting.


        Get a list of dashboards for a specific dataset.'
      operationId: dashboards_list
      parameters:
      - in: path
        name: dataset_id
        required: true
        schema:
          type: string
        description: Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/.
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - Dashboards
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDashboardBasicList'
          description: ''
      summary: Dashboards list
      x-summary-source: derived
  /api/datasets/{dataset_id}/dashboards/{id}/:
    get:
      description: 'Dashboard: A customizable page within Analytics used for organizing and displaying multiple key metrics, charts, and Insights in one place for monitoring and reporting.


        Get a specific dashboard from a specific dataset.'
      operationId: dashboards_retrieve
      parameters:
      - in: path
        name: dataset_id
        required: true
        schema:
          type: string
        description: Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/.
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this dashboard.
        required: true
      tags:
      - Dashboards
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: ''
      summary: Dashboards retrieve
      x-summary-source: derived
components:
  schemas:
    DashboardBasic:
      type: object
      description: Serializer mixin that resolves appropriate response for tags depending on license.
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type:
          - string
          - 'null'
          readOnly: true
        description:
          type: string
          readOnly: true
        pinned:
          type: boolean
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        created_by:
          allOf:
          - $ref: '#/components/schemas/UserBasic'
          readOnly: true
        is_shared:
          type: boolean
          readOnly: true
        deleted:
          type: boolean
          readOnly: true
        creation_mode:
          enum:
          - default
          - template
          - duplicate
          type: string
          readOnly: true
        tags:
          type: array
          items: {}
        restriction_level:
          enum:
          - 21
          - 37
          type: integer
          readOnly: true
        effective_restriction_level:
          enum:
          - 21
          - 37
          type: integer
          readOnly: true
        effective_privilege_level:
          enum:
          - 21
          - 37
          type: integer
          readOnly: true
      required:
      - created_at
      - created_by
      - creation_mode
      - deleted
      - description
      - effective_privilege_level
      - effective_restriction_level
      - id
      - is_shared
      - name
      - pinned
      - restriction_level
    PaginatedDashboardBasicList:
      type: object
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/DashboardBasic'
    Dashboard:
      type: object
      description: Serializer mixin that resolves appropriate response for tags depending on license.
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type:
          - string
          - 'null'
          maxLength: 400
        description:
          type: string
        pinned:
          type: boolean
        created_at:
          type: string
          format: date-time
          readOnly: true
        created_by:
          allOf:
          - $ref: '#/components/schemas/UserBasic'
          readOnly: true
        is_shared:
          type: boolean
          readOnly: true
        deleted:
          type: boolean
        creation_mode:
          enum:
          - default
          - template
          - duplicate
          type: string
          readOnly: true
        use_template:
          type: string
          writeOnly: true
        use_dashboard:
          type:
          - integer
          - 'null'
          writeOnly: true
        delete_insights:
          type: boolean
          writeOnly: true
          default: false
        filters:
          type: object
          additionalProperties: {}
        tags:
          type: array
          items: {}
        tiles:
          type: string
          readOnly: true
        restriction_level:
          enum:
          - 21
          - 37
          type: integer
          minimum: 0
          maximum: 32767
        effective_restriction_level:
          enum:
          - 21
          - 37
          type: integer
          readOnly: true
        effective_privilege_level:
          enum:
          - 21
          - 37
          type: integer
          readOnly: true
      required:
      - created_at
      - created_by
      - creation_mode
      - effective_privilege_level
      - effective_restriction_level
      - id
      - is_shared
      - tiles
    UserBasic:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        uuid:
          type: string
          format: uuid
          readOnly: true
        distinct_id:
          type:
          - string
          - 'null'
          maxLength: 200
        first_name:
          type: string
          maxLength: 150
        email:
          type: string
          format: email
          title: Email address
          maxLength: 254
        is_email_verified:
          type:
          - boolean
          - 'null'
      required:
      - email
      - id
      - uuid
  securitySchemes:
    APIKey:
      type: http
      scheme: bearer
x-tagGroups:
- name: All endpoints
  tags:
  - Actions
  - Annotations
  - Batch Exports
  - Change
  - Cohorts
  - Dashboards
  - Datasets
  - Domains
  - Event Definitions
  - Events
  - Funnel
  - Insights
  - KPIs
  - Members
  - Organization
  - Persons
  - Projects
  - Property Definitions
  - Query
  - Tags
  - Trend
  - Users
  - Warehouse Table
