openapi: 3.2.0
info:
  contact:
    email: support@pypestream.com
  description: '` ┌────────────┐ ◄──► ┌───────────┐`


    ` │ Middleware │ ◄──► │ 3rd Party │`


    ` └────────────┘ ◄──► └───────────┘`

    '
  termsOfService: https://www.pypestream.com/privacy-policy/
  title: Contact Center Settings API
  version: 1.0.1
servers:
- url: http://middleware.pypestream.com/
  description: Live
- url: http://middleware-sandbox.pypestream.com/
  description: Sandbox
security: []
tags:
- name: Settings
paths:
  /contactCenter/v1/settings:
    get:
      callbacks: {}
      deprecated: true
      operationId: getSettings
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Setting'
          description: Successful request with response body.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad request
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: Internal Error
      security:
      - TokenHeader: []
      summary: Retrieve Settings
      tags:
      - Settings
    put:
      callbacks: {}
      deprecated: true
      operationId: setSettings
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Setting'
        description: Setting object that needs to be updated
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Setting'
          description: Successful operation with response body.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad request
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          description: Internal Error
      security:
      - TokenHeader: []
      summary: Set Settings
      description: Use this method to set the settings required to configure a Contact Center.
      tags:
      - Settings
components:
  schemas:
    BadRequest:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/Error'
          type: array
        message:
          type: string
      required:
      - message
      - errors
      type: object
    Error:
      properties:
        message:
          type: string
        source:
          type: string
        type:
          type: string
      required:
      - source
      - type
      - message
      type: object
    InternalError:
      properties:
        message:
          type: string
      required:
      - message
      type: object
    Setting:
      properties:
        callbackToken:
          format: hash
          type: string
        callbackURL:
          format: url
          type: string
        integrationFields:
          properties: {}
          type: object
        integrationName:
          type: string
      required:
      - integrationName
      - integrationFields
      - callbackURL
      - callbackToken
      type: object
  securitySchemes:
    BasicAuth:
      scheme: basic
      type: http
    TokenHeader:
      in: header
      name: X-Pypestream-Token
      type: apiKey
