openapi: 3.2.0
info:
  title: Pypestream JavaScript SDK Event Handlers API
  description: Client-side JavaScript SDK for embedding conversational AI chat interfaces into web applications.
  version: 3.0.0
  contact:
    name: Pypestream Support
    url: https://support.pypestream.com
  license:
    name: Proprietary
    url: https://pypestream.com/terms
servers:
- url: https://api.pypestream.com/v3
  description: Production SDK API (Documentation Only)
security: []
tags:
- name: Event Handlers
  description: Register event callbacks
paths:
  /events/onShow:
    post:
      tags:
      - Event Handlers
      summary: Register onShow handler
      description: 'Registers a callback for when the chat interface is shown.


        **JavaScript Usage:**

        ```javascript

        Pypestream.onShow(() => {

        console.log(''Chat opened'');

        });

        ```'
      operationId: onShow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventHandler'
      responses:
        '200':
          description: Handler registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventRegistrationResponse'
  /events/onHide:
    post:
      tags:
      - Event Handlers
      summary: Register onHide handler
      description: 'Registers a callback for when the chat interface is hidden.


        **JavaScript Usage:**

        ```javascript

        Pypestream.onHide(() => {

        console.log(''Chat closed'');

        });

        ```'
      operationId: onHide
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventHandler'
      responses:
        '200':
          description: Handler registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventRegistrationResponse'
  /events/onChatEnd:
    post:
      tags:
      - Event Handlers
      summary: Register onChatEnd handler
      description: 'Registers a callback for when a chat session ends.


        **JavaScript Usage:**

        ```javascript

        Pypestream.onChatEnd(() => {

        console.log(''Chat session ended'');

        });

        ```'
      operationId: onChatEnd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventHandler'
      responses:
        '200':
          description: Handler registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventRegistrationResponse'
  /events/onChatRestart:
    post:
      tags:
      - Event Handlers
      summary: Register onChatRestart handler
      description: 'Registers a callback for when a chat session is restarted.


        **JavaScript Usage:**

        ```javascript

        Pypestream.onChatRestart(() => {

        console.log(''Chat restarted'');

        });

        ```'
      operationId: onChatRestart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventHandler'
      responses:
        '200':
          description: Handler registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventRegistrationResponse'
  /events/onSetupComplete:
    post:
      tags:
      - Event Handlers
      summary: Register onSetupComplete handler
      description: 'Registers a callback for when initial setup completes.


        **JavaScript Usage:**

        ```javascript

        Pypestream.onSetupComplete(() => {

        console.log(''Setup complete'');

        });

        ```'
      operationId: onSetupComplete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventHandler'
      responses:
        '200':
          description: Handler registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventRegistrationResponse'
  /events/onFirstMessage:
    post:
      tags:
      - Event Handlers
      summary: Register onFirstMessage handler
      description: 'Registers a callback for when the first message is received.


        **JavaScript Usage:**

        ```javascript

        Pypestream.onFirstMessage(() => {

        console.log(''First message received'');

        });

        ```'
      operationId: onFirstMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventHandler'
      responses:
        '200':
          description: Handler registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventRegistrationResponse'
  /events/onMount:
    post:
      tags:
      - Event Handlers
      summary: Register onMount handler
      description: 'Registers a callback for when the app iframe is mounted in the DOM.


        **JavaScript Usage:**

        ```javascript

        Pypestream.onMount(() => {

        console.log(''Iframe mounted'');

        });

        ```'
      operationId: onMount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventHandler'
      responses:
        '200':
          description: Handler registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventRegistrationResponse'
components:
  schemas:
    EventRegistrationResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        eventType:
          type: string
          example: onShow
        message:
          type: string
          example: Event handler registered successfully
    EventHandler:
      type: object
      required:
      - handler
      properties:
        handler:
          type: string
          description: JavaScript function name or reference
          example: myHandlerFunction
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'API key for accessing Pypestream services (if applicable).

        Note: The JavaScript SDK does not require API keys for client-side usage.

        '
externalDocs:
  description: Full Pypestream Documentation
  url: https://docs.pypestream.com
