{"openapi":"3.0.3","info":{"title":"Pypestream JavaScript SDK API","description":"Client-side JavaScript SDK for embedding conversational AI chat interfaces into web applications.\n\n**Note:** This is a client-side SDK, not a REST API. This OpenAPI specification documents the SDK's \npublic methods and configurations for documentation purposes.\n\n## Getting Started\n\nInclude the SDK script in your HTML:\n```html\n<script src=\"https://your-pypestream-domain/config.js\"></script>\n```\n\nThen use the global `Pypestream` object to interact with the SDK.\n\n## Display Modes\n\n- **Window Mode**: Opens chat in a popup window\n- **Inline Mode**: Embeds chat directly in your webpage\n","version":"3.0.0","contact":{"name":"Pypestream Support","url":"https://support.pypestream.com"},"license":{"name":"Proprietary","url":"https://pypestream.com/terms"}},"servers":[{"url":"https://api.pypestream.com/v3","description":"Production SDK API (Documentation Only)"}],"tags":[{"name":"Configuration","description":"SDK configuration methods"},{"name":"Lifecycle","description":"SDK lifecycle management"},{"name":"Display Control","description":"Control chat visibility"},{"name":"Event Handlers","description":"Register event callbacks"},{"name":"Advanced","description":"Advanced SDK features"}],"paths":{"/config":{"post":{"tags":["Configuration"],"summary":"Configure SDK","description":"Configure the Pypestream SDK before initialization. Can be called before `boot()`.\n\n**JavaScript Usage:**\n```javascript\nPypestream.config({\n  APP_ID: 'your-app-id',\n  debugMode: true,\n  displayMode: 'inline'\n});\n```\n","operationId":"config","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PypestreamConfig"},"examples":{"basic":{"summary":"Basic configuration","value":{"APP_ID":"your-app-id-here","debugMode":false,"displayMode":"window"}},"inline":{"summary":"Inline mode with loader","value":{"APP_ID":"your-app-id-here","debugMode":true,"displayMode":"inline","withInlineAppLoader":true}},"withMessages":{"summary":"With initial messages","value":{"APP_ID":"your-app-id-here","displayMode":"window","initialMessages":{"welcomeMessage":"Hello! How can I help you?","showNextThinkingBubble":true}}}}}}},"responses":{"200":{"description":"Configuration applied successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message":{"type":"string","example":"Configuration applied"}}}}}}}}},"/boot":{"post":{"tags":["Lifecycle"],"summary":"Initialize and boot SDK","description":"Initializes and starts the chat interface. Must be called before any other methods (except `config()`).\n\n**JavaScript Usage:**\n```javascript\n// Window mode\nPypestream.boot({ APP_ID: 'your-app-id' });\n\n// Inline mode\nconst container = document.getElementById('chat-container');\nPypestream.boot({ APP_ID: 'your-app-id' }, container);\n```\n\n**Behavior:**\n- If targetElement is provided, switches to 'inline' mode\n- If targetElement is omitted, uses 'window' mode\n- Can be called multiple times - shows chat if already booted\n","operationId":"boot","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["config"],"properties":{"config":{"$ref":"#/components/schemas/PypestreamConfig"},"targetElement":{"type":"string","description":"DOM element selector for inline mode (e.g., \"#chat-container\")","example":"#chat-container"}}},"examples":{"windowMode":{"summary":"Window mode","value":{"config":{"APP_ID":"your-app-id","displayMode":"window"}}},"inlineMode":{"summary":"Inline mode","value":{"config":{"APP_ID":"your-app-id","displayMode":"inline"},"targetElement":"#chat-container"}}}}}},"responses":{"200":{"description":"SDK booted successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message":{"type":"string","example":"SDK initialized successfully"},"displayMode":{"type":"string","enum":["window","inline"],"example":"inline"}}}}}},"400":{"description":"Missing required configuration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Missing APP_ID","message":"You must provide an APP_ID string in the config object"}}}}}}},"/show":{"post":{"tags":["Display Control"],"summary":"Show chat interface","description":"Shows the chat interface in inline mode only.\n\n**JavaScript Usage:**\n```javascript\nPypestream.show();\n```\n\n**Requirements:**\n- Must call `boot()` first\n- Only works in 'inline' display mode\n- Triggers `onShow` event handlers\n","operationId":"show","responses":{"200":{"description":"Chat interface shown successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"isShowing":{"type":"boolean","example":true}}}}}},"400":{"description":"Cannot show chat","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"notBooted":{"value":{"error":"Not initialized","message":"You must call Pypestream.boot() before 'show'"}},"windowMode":{"value":{"error":"Invalid display mode","message":"Cannot show chat in display mode 'window'"}}}}}}}}},"/hide":{"post":{"tags":["Display Control"],"summary":"Hide chat interface","description":"Hides the chat interface in inline mode only.\n\n**JavaScript Usage:**\n```javascript\nPypestream.hide();\n```\n\n**Requirements:**\n- Must call `boot()` first\n- Only works in 'inline' display mode\n- Triggers `onHide` event handlers\n","operationId":"hide","responses":{"200":{"description":"Chat interface hidden successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"isShowing":{"type":"boolean","example":false}}}}}},"400":{"description":"Cannot hide chat","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/toggle":{"post":{"tags":["Display Control"],"summary":"Toggle chat visibility","description":"Toggles the chat interface visibility in inline mode.\n\n**JavaScript Usage:**\n```javascript\nPypestream.toggle();\n```\n\n**Behavior:**\n- Shows chat if currently hidden\n- Hides chat if currently showing\n- Only works in 'inline' display mode\n","operationId":"toggle","responses":{"200":{"description":"Chat visibility toggled","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"isShowing":{"type":"boolean","example":true}}}}}},"400":{"description":"Cannot toggle chat","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/isVisible":{"get":{"tags":["Display Control"],"summary":"Check visibility state","description":"Returns the current visibility state of the chat interface.\n\n**JavaScript Usage:**\n```javascript\nconst isVisible = Pypestream.isVisible();\n```\n","operationId":"isVisible","responses":{"200":{"description":"Current visibility state","content":{"application/json":{"schema":{"type":"object","properties":{"isVisible":{"type":"boolean","example":true}}}}}}}}},"/shutdown":{"post":{"tags":["Lifecycle"],"summary":"Shutdown SDK","description":"Completely shuts down and removes the chat interface.\n\n**JavaScript Usage:**\n```javascript\nPypestream.shutdown();\n```\n\n**Behavior:**\n- Closes chat interface\n- Removes iframe and container elements\n- Clears all body scroll locks\n- Closes LaunchDarkly client\n- Resets boot state\n- Can call `boot()` again after shutdown\n","operationId":"shutdown","responses":{"200":{"description":"SDK shut down successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message":{"type":"string","example":"SDK shut down successfully"}}}}}},"400":{"description":"Cannot shutdown","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/restartChat":{"post":{"tags":["Lifecycle"],"summary":"Restart chat session","description":"Restarts the current chat session without shutting down the interface.\n\n**JavaScript Usage:**\n```javascript\nPypestream.restartChat();\n```\n\n**Behavior:**\n- Clears current conversation\n- Starts new chat session\n- Maintains same configuration\n- Keeps interface visible\n- Triggers `onChatRestart` handlers\n","operationId":"restartChat","responses":{"200":{"description":"Chat restarted successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message":{"type":"string","example":"Chat session restarted"}}}}}}}}},"/updateConfig":{"patch":{"tags":["Configuration"],"summary":"Update configuration dynamically","description":"Updates the Pypestream configuration dynamically after initialization.\n\n**JavaScript Usage:**\n```javascript\nPypestream.updatePypestreamConfig({\n  debugMode: true,\n  initialMessages: {\n    welcomeMessage: 'Updated welcome!'\n  }\n});\n```\n\n**Requirements:**\n- Must call after iframe is mounted\n- Merges with existing configuration\n","operationId":"updatePypestreamConfig","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PypestreamConfig"}}}},"responses":{"200":{"description":"Configuration updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true}}}}}},"400":{"description":"Cannot update configuration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/events/onShow":{"post":{"tags":["Event Handlers"],"summary":"Register onShow handler","description":"Registers a callback for when the chat interface is shown.\n\n**JavaScript Usage:**\n```javascript\nPypestream.onShow(() => {\n  console.log('Chat opened');\n});\n```\n","operationId":"onShow","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventHandler"}}}},"responses":{"200":{"description":"Handler registered successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventRegistrationResponse"}}}}}}},"/events/onHide":{"post":{"tags":["Event Handlers"],"summary":"Register onHide handler","description":"Registers a callback for when the chat interface is hidden.\n\n**JavaScript Usage:**\n```javascript\nPypestream.onHide(() => {\n  console.log('Chat closed');\n});\n```\n","operationId":"onHide","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventHandler"}}}},"responses":{"200":{"description":"Handler registered successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventRegistrationResponse"}}}}}}},"/events/onChatEnd":{"post":{"tags":["Event Handlers"],"summary":"Register onChatEnd handler","description":"Registers a callback for when a chat session ends.\n\n**JavaScript Usage:**\n```javascript\nPypestream.onChatEnd(() => {\n  console.log('Chat session ended');\n});\n```\n","operationId":"onChatEnd","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventHandler"}}}},"responses":{"200":{"description":"Handler registered successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventRegistrationResponse"}}}}}}},"/events/onChatRestart":{"post":{"tags":["Event Handlers"],"summary":"Register onChatRestart handler","description":"Registers a callback for when a chat session is restarted.\n\n**JavaScript Usage:**\n```javascript\nPypestream.onChatRestart(() => {\n  console.log('Chat restarted');\n});\n```\n","operationId":"onChatRestart","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventHandler"}}}},"responses":{"200":{"description":"Handler registered successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventRegistrationResponse"}}}}}}},"/events/onSetupComplete":{"post":{"tags":["Event Handlers"],"summary":"Register onSetupComplete handler","description":"Registers a callback for when initial setup completes.\n\n**JavaScript Usage:**\n```javascript\nPypestream.onSetupComplete(() => {\n  console.log('Setup complete');\n});\n```\n","operationId":"onSetupComplete","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventHandler"}}}},"responses":{"200":{"description":"Handler registered successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventRegistrationResponse"}}}}}}},"/events/onFirstMessage":{"post":{"tags":["Event Handlers"],"summary":"Register onFirstMessage handler","description":"Registers a callback for when the first message is received.\n\n**JavaScript Usage:**\n```javascript\nPypestream.onFirstMessage(() => {\n  console.log('First message received');\n});\n```\n","operationId":"onFirstMessage","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventHandler"}}}},"responses":{"200":{"description":"Handler registered successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventRegistrationResponse"}}}}}}},"/events/onMount":{"post":{"tags":["Event Handlers"],"summary":"Register onMount handler","description":"Registers a callback for when the app iframe is mounted in the DOM.\n\n**JavaScript Usage:**\n```javascript\nPypestream.onMount(() => {\n  console.log('Iframe mounted');\n});\n```\n","operationId":"onMount","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventHandler"}}}},"responses":{"200":{"description":"Handler registered successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventRegistrationResponse"}}}}}}},"/events/register":{"post":{"tags":["Advanced"],"summary":"Register custom events","description":"Registers custom event listeners for advanced integration scenarios.\n\n**JavaScript Usage:**\n```javascript\nPypestream.registerForEvents(\n  {\n    'CUSTOM_EVENT': (data) => {\n      console.log('Custom event:', data);\n    }\n  },\n  'myEventTarget',\n  true\n);\n```\n","operationId":"registerForEvents","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["eventHandles","eventTarget"],"properties":{"eventHandles":{"type":"object","description":"Map of event names to handler functions","additionalProperties":{"type":"string"},"example":{"CUSTOM_EVENT":"handleCustomEvent"}},"eventTarget":{"type":"string","description":"Target identifier for events","example":"myEventTarget"},"eventBuffer":{"type":"boolean","description":"Whether to buffer events","example":true}}}}}},"responses":{"200":{"description":"Events registered successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"registeredEvents":{"type":"array","items":{"type":"string"},"example":["CUSTOM_EVENT"]}}}}}}}}}},"components":{"schemas":{"PypestreamConfig":{"type":"object","required":["APP_ID"],"properties":{"APP_ID":{"type":"string","description":"Your Pypestream application ID (required)","example":"your-app-id-here"},"debugMode":{"type":"boolean","description":"Enable debug logging in console","default":false,"example":true},"displayMode":{"type":"string","enum":["window","inline"],"description":"Display mode for the chat interface","default":"window","example":"inline"},"APIMode":{"type":"boolean","description":"Enable API mode","default":true,"example":true},"withInlineAppLoader":{"type":"boolean","description":"Show loading animation in inline mode","default":true,"example":true},"showSurveyForWindowMode":{"type":"boolean","description":"Enable survey in window mode after chat ends","example":false},"initialMessages":{"$ref":"#/components/schemas/InitialMessages"}}},"InitialMessages":{"type":"object","description":"Configure initial welcome messages","properties":{"welcomeMessage":{"type":"string","description":"Custom welcome message text","example":"Hello! How can I help you today?"},"showNextThinkingBubble":{"type":"boolean","description":"Show thinking bubble animation","default":true,"example":true}}},"EventHandler":{"type":"object","required":["handler"],"properties":{"handler":{"type":"string","description":"JavaScript function name or reference","example":"myHandlerFunction"}}},"EventRegistrationResponse":{"type":"object","properties":{"success":{"type":"boolean","example":true},"eventType":{"type":"string","example":"onShow"},"message":{"type":"string","example":"Event handler registered successfully"}}},"Error":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","description":"Error type","example":"Configuration Error"},"message":{"type":"string","description":"Detailed error message","example":"You must provide an APP_ID string in the config object"},"details":{"type":"object","description":"Additional error details","additionalProperties":true}}}},"securitySchemes":{"ApiKey":{"type":"apiKey","in":"header","name":"X-API-Key","description":"API key for accessing Pypestream services (if applicable).\nNote: The JavaScript SDK does not require API keys for client-side usage.\n"}}},"security":[],"externalDocs":{"description":"Full Pypestream Documentation","url":"https://docs.pypestream.com"}}