{"openapi":"3.0.3","info":{"title":"Analytics API","version":"1.0.0","description":"To acquire a personal access token go to [Account settings](https://analytics.pypestream.com/me/settings) and create a new token or use an existing one"},"servers":[{"url":"https://analytics.pypestream.com/","description":"Production server US"}],"security":[{"APIKey":[]}],"paths":{"/api/datasets/":{"get":{"description":"Dataset: A distinct collection of analytics data, typically corresponding to an environment  (e.g., \"Production\", \"Testing\", \"Development\").\n\nGet a list of datasets that you have access to.\n","operationId":"list","parameters":[{"name":"limit","required":false,"in":"query","description":"Number of results to return per page.","schema":{"type":"integer"}},{"name":"offset","required":false,"in":"query","description":"The initial index from which to return the results.","schema":{"type":"integer"}}],"tags":["Datasets"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedTeamBasicList"}}},"description":""}}}},"/api/datasets/{dataset_id}/actions/":{"get":{"operationId":"actions_list","description":"Actions: A collection of one or more events grouped together in Data Management to represent a specific user behavior or process without requiring code changes. Can be used like standard events in analysis.\n\nGet a list of actions for a specific dataset.\n","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"query","name":"format","schema":{"type":"string","enum":["csv","json"]}},{"name":"limit","required":false,"in":"query","description":"Number of results to return per page.","schema":{"type":"integer"}},{"name":"offset","required":false,"in":"query","description":"The initial index from which to return the results.","schema":{"type":"integer"}}],"tags":["Actions"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedActionList"}},"text/csv":{"schema":{"$ref":"#/components/schemas/PaginatedActionList"}}},"description":""}}}},"/api/datasets/{dataset_id}/actions/{id}/":{"get":{"operationId":"actions_retrieve","description":"Actions: A collection of one or more events grouped together in Data Management to represent a specific user behavior or process without requiring code changes. Can be used like standard events in analysis.\n\nGet a single action from a specific dataset.\n","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"query","name":"format","schema":{"type":"string","enum":["csv","json"]}},{"in":"path","name":"id","schema":{"type":"integer"},"description":"A unique integer value identifying this action.","required":true}],"tags":["Actions"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Action"}},"text/csv":{"schema":{"$ref":"#/components/schemas/Action"}}},"description":""}}}},"/api/datasets/{dataset_id}/annotations/":{"get":{"description":"Annotations: Dated notes or comments attached to timelines or Insight charts to provide shared context about specific events (e.g., feature releases, marketing campaigns) that might influence metrics. Managed under Data Management and viewable on charts.\n\nGet a list of annotations for a specific dataset.\n","operationId":"annotations_list","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"name":"limit","required":false,"in":"query","description":"Number of results to return per page.","schema":{"type":"integer"}},{"name":"offset","required":false,"in":"query","description":"The initial index from which to return the results.","schema":{"type":"integer"}},{"name":"search","required":false,"in":"query","description":"A search term.","schema":{"type":"string"}}],"tags":["Annotations"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedAnnotationList"}}},"description":""}}}},"/api/datasets/{dataset_id}/annotations/{id}/":{"get":{"operationId":"annotations_retrieve","description":"Annotations: Dated notes or comments attached to timelines or Insight charts to provide shared context about specific events (e.g., feature releases, marketing campaigns) that might influence metrics. Managed under Data Management and viewable on charts.\n\nGet a specific annotation from a specific dataset.\n","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"path","name":"id","schema":{"type":"integer"},"description":"A unique integer value identifying this annotation.","required":true}],"tags":["Annotations"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Annotation"}}},"description":""}}}},"/api/datasets/{dataset_id}/batch_exports/":{"get":{"operationId":"batch_exports_list","description":"Retrieves a paginated list of all batch export configurations for the specified dataset. Use this to view all active and inactive exports, their destinations, and schedules.","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"name":"limit","required":false,"in":"query","description":"Number of results to return per page.","schema":{"type":"integer"}},{"name":"offset","required":false,"in":"query","description":"The initial index from which to return the results.","schema":{"type":"integer"}}],"tags":["Batch Exports"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBatchExportList"}}},"description":""}}},"post":{"operationId":"batch_exports_create","description":"Creates a new batch export configuration. This endpoint requires a destination type (e.g., S3, Snowflake), an interval (e.g., daily, hourly), and the necessary credentials to configure the export pipeline.\n\n**Recommended Snowflake DDL:**\n```sql\nCREATE TABLE your_table_name (\n    uuid VARCHAR(36),\n    timestamp TIMESTAMP_NTZ,\n    created_at TIMESTAMP_NTZ,\n    event VARCHAR,\n    properties VARIANT,\n    distinct_id VARCHAR(36),\n    person_id VARCHAR(36),\n    person_properties VARIANT,\n    elements_chain VARCHAR\n);\n```\n\n**Beta notice:**\n  \nSnowflake support is currently in beta.\n","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."}],"tags":["Batch Exports"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchExport"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/BatchExport"}},"multipart/form-data":{"schema":{"$ref":"#/components/schemas/BatchExport"}}},"required":true},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchExport"}}},"description":""}}}},"/api/datasets/{dataset_id}/batch_exports/{parent_lookup_batch_export_id}/runs/":{"get":{"operationId":"batch_exports_runs_list","description":"Retrieves the execution history for a specific batch export. This returns a list of past runs, allowing you to monitor the success or failure status of the export schedule.","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"name":"limit","required":false,"in":"query","description":"Number of results to return per page.","schema":{"type":"integer"}},{"name":"offset","required":false,"in":"query","description":"The initial index from which to return the results.","schema":{"type":"integer"}},{"in":"path","name":"parent_lookup_batch_export_id","schema":{"type":"string"},"required":true}],"tags":["Batch Exports"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBatchExportRunList"}}},"description":""}}}},"/api/datasets/{dataset_id}/batch_exports/{parent_lookup_batch_export_id}/runs/{id}/":{"get":{"operationId":"batch_exports_runs_retrieve","description":"Retrieves the details of a single execution run. This is useful for debugging specific failures or verifying the timestamps and data volume of a particular export cycle.","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"description":"A UUID string identifying this batch export run.","required":true},{"in":"path","name":"parent_lookup_batch_export_id","schema":{"type":"string"},"required":true}],"tags":["Batch Exports"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchExportRun"}}},"description":""}}}},"/api/datasets/{dataset_id}/batch_exports/{id}/":{"get":{"operationId":"batch_exports_retrieve","description":"Retrieves the full configuration details of a specific batch export identified by its ID.","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"description":"A UUID string identifying this batch export.","required":true}],"tags":["Batch Exports"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchExport"}}},"description":""}}},"put":{"operationId":"batch_exports_update","description":"Updates an existing batch export configuration. This is a full update that replaces the current configuration with the data provided in the request body.","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"description":"A UUID string identifying this batch export.","required":true}],"tags":["Batch Exports"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchExport"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/BatchExport"}},"multipart/form-data":{"schema":{"$ref":"#/components/schemas/BatchExport"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchExport"}}},"description":""}}},"patch":{"operationId":"batch_exports_partial_update","description":"Partially updates an existing batch export configuration. Use this to modify specific fields (such as the interval or destination settings) without replacing the entire object.","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"description":"A UUID string identifying this batch export.","required":true}],"tags":["Batch Exports"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchedBatchExport"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/PatchedBatchExport"}},"multipart/form-data":{"schema":{"$ref":"#/components/schemas/PatchedBatchExport"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchExport"}}},"description":""}}},"delete":{"operationId":"batch_exports_destroy","description":"Permanently deletes a batch export configuration. This action stops all future runs and removes the export setup from the project.","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"description":"A UUID string identifying this batch export.","required":true}],"tags":["Batch Exports"],"responses":{"204":{"description":"No response body"}}}},"/api/datasets/{dataset_id}/batch_exports/{id}/backfill/":{"post":{"operationId":"batch_exports_backfill_create","description":"Manually triggers a backfill job for a specific historical date range. This allows you to export data that was collected before the batch export was originally created or during a period where the export was paused.\n","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"description":"A UUID string identifying this batch export.","required":true}],"tags":["Batch Exports"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchExportBackfill"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/BatchExportBackfill"}},"multipart/form-data":{"schema":{"$ref":"#/components/schemas/BatchExportBackfill"}}},"required":true},"responses":{"200":{"description":""}}}},"/api/datasets/{dataset_id}/batch_exports/{id}/pause/":{"post":{"operationId":"batch_exports_pause_create","description":"Pauses the batch export schedule. New runs will not be triggered until the export is unpaused, but the configuration remains saved.","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"description":"A UUID string identifying this batch export.","required":true}],"tags":["Batch Exports"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchExportPauseUnpauseResponse"}}},"description":""}}}},"/api/datasets/{dataset_id}/batch_exports/{id}/unpause/":{"post":{"operationId":"batch_exports_unpause_create","description":"Resumes a paused batch export. The schedule will restart based on the configured interval.","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"description":"A UUID string identifying this batch export.","required":true}],"tags":["Batch Exports"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchExportUnpause"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/BatchExportUnpause"}},"multipart/form-data":{"schema":{"$ref":"#/components/schemas/BatchExportUnpause"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchExportPauseUnpauseResponse"}}},"description":""}}}},"/api/datasets/{dataset_id}/cohorts/":{"get":{"description":"Cohorts: Groups of users defined in Data Management based on shared characteristics (properties) or behaviors (events performed or not performed) within a specific timeframe. Used for targeted analysis and filtering.\n\nGet a list of cohorts for a specific dataset.\n","operationId":"cohorts_list","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"name":"limit","required":false,"in":"query","description":"Number of results to return per page.","schema":{"type":"integer"}},{"name":"offset","required":false,"in":"query","description":"The initial index from which to return the results.","schema":{"type":"integer"}}],"tags":["Cohorts"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedCohortList"}}},"description":""}}}},"/api/datasets/{dataset_id}/cohorts/{id}/":{"get":{"description":"Cohorts: Groups of users defined in Data Management based on shared characteristics (properties) or behaviors (events performed or not performed) within a specific timeframe. Used for targeted analysis and filtering.\n\nGet a specific cohort from a specific dataset.\n","operationId":"cohorts_retrieve","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"path","name":"id","schema":{"type":"integer"},"description":"A unique integer value identifying this cohort.","required":true}],"tags":["Cohorts"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cohort"}}},"description":""}}}},"/api/datasets/{dataset_id}/cohorts/{id}/persons/":{"get":{"description":"Cohorts: Groups of users defined in Data Management based on shared characteristics (properties) or behaviors (events performed or not performed) within a specific timeframe. Used for targeted analysis and filtering.\n\nPerson / Persons: A feature within Data Management representing individual users tracked by Analytics.  The \"Persons\" list allows accessing detailed profiles for each user, showing their associated properties,  event history, cohort memberships, and related replays.\n\nGet all persons in a specific cohort from a specific dataset.\n","operationId":"cohorts_persons_retrieve","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"query","name":"format","schema":{"type":"string","enum":["csv","json"]}},{"in":"path","name":"id","schema":{"type":"integer"},"description":"A unique integer value identifying this cohort.","required":true}],"tags":["Cohorts"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cohort"}},"text/csv":{"schema":{"$ref":"#/components/schemas/Cohort"}}},"description":""}}}},"/api/datasets/{dataset_id}/dashboards/":{"get":{"description":"Dashboard: A customizable page within Analytics used for organizing and displaying multiple key metrics,  charts, and Insights in one place for monitoring and reporting.\n\nGet a list of dashboards for a specific dataset.\n","operationId":"dashboards_list","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"name":"limit","required":false,"in":"query","description":"Number of results to return per page.","schema":{"type":"integer"}},{"name":"offset","required":false,"in":"query","description":"The initial index from which to return the results.","schema":{"type":"integer"}}],"tags":["Dashboards"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedDashboardBasicList"}}},"description":""}}}},"/api/datasets/{dataset_id}/dashboards/{id}/":{"get":{"description":"Dashboard: A customizable page within Analytics used for organizing and displaying multiple key metrics,  charts, and Insights in one place for monitoring and reporting.\n\nGet a specific dashboard from a specific dataset.\n","operationId":"dashboards_retrieve","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"path","name":"id","schema":{"type":"integer"},"description":"A unique integer value identifying this dashboard.","required":true}],"tags":["Dashboards"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Dashboard"}}},"description":""}}}},"/api/datasets/{dataset_id}/event_definitions/":{"get":{"description":"Definitions of events used in analytics.\n\nGet a list of event definitions for a specific dataset.\n","operationId":"event_definitions_list","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"name":"limit","required":false,"in":"query","description":"Number of results to return per page.","schema":{"type":"integer"}},{"name":"offset","required":false,"in":"query","description":"The initial index from which to return the results.","schema":{"type":"integer"}}],"tags":["Event Definitions"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedEventDefinitionList"}}},"description":""}}}},"/api/datasets/{dataset_id}/event_definitions/{id}/":{"get":{"description":"Definitions of events used in analytics.\n\nGet a single event definition from a specific dataset.\n","operationId":"event_definitions_retrieve","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"path","name":"id","schema":{"type":"string"},"required":true}],"tags":["Event Definitions"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventDefinition"}}},"description":""}}}},"/api/datasets/{dataset_id}/events/":{"get":{"description":"Events: Specific user actions (e.g., clicks, page views, form submissions, Pype escalations) or system  occurrences (e.g., Pype session started) captured by Analytics. They form the basis of most analyses.\n\nNote: this endpoint is for overview/exploration purposes. For data export use batch_exports endpoints.\n\nGet a list of events for a specific dataset.\n","operationId":"events_list","parameters":[{"in":"query","name":"after","schema":{"type":"string","format":"date-time"},"description":"Only return events with a timestamp after this time."},{"in":"query","name":"before","schema":{"type":"string","format":"date-time"},"description":"Only return events with a timestamp before this time."},{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"query","name":"distinct_id","schema":{"type":"integer"},"description":"Filter list by distinct id."},{"in":"query","name":"event","schema":{"type":"string"},"description":"Filter list by event. For example `user sign up` or `$pageview`."},{"in":"query","name":"format","schema":{"type":"string","enum":["csv","json"]}},{"in":"query","name":"limit","schema":{"type":"integer"},"description":"The maximum number of results to return"},{"in":"query","name":"maskPii","schema":{"type":"boolean"},"description":"If true, personally identifiable information is masked in the properties of returned events. A property is considered to contain PII if a retention period is set for it."},{"name":"offset","required":false,"in":"query","description":"The initial index from which to return the results.","schema":{"type":"integer"}},{"in":"query","name":"person_id","schema":{"type":"integer"},"description":"Filter list by person id."},{"in":"query","name":"properties","schema":{"type":"array","items":{"$ref":"#/components/schemas/Property"}},"description":"Filter events by event property, person property, cohort, groups and more."},{"in":"query","name":"select","schema":{"type":"array","items":{"type":"string"}},"description":"(Experimental) JSON-serialized array of PypeQL expressions to return"},{"in":"query","name":"where","schema":{"type":"array","items":{"type":"string"}},"description":"(Experimental) JSON-serialized array of PypeQL expressions that must pass"}],"tags":["Events"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedClickhouseEventList"}},"text/csv":{"schema":{"$ref":"#/components/schemas/PaginatedClickhouseEventList"}}},"description":""}}}},"/api/datasets/{dataset_id}/events/{id}/":{"get":{"description":"Events: Specific user actions (e.g., clicks, page views, form submissions, Pype escalations) or system  occurrences (e.g., Pype session started) captured by Analytics. They form the basis of most analyses.\n\nGet a specific event from a specific dataset.\n","operationId":"events_retrieve","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"query","name":"format","schema":{"type":"string","enum":["csv","json"]}},{"in":"path","name":"id","schema":{"type":"string"},"required":true},{"in":"query","name":"maskPii","schema":{"type":"boolean"},"description":"If true, mask personally identifiable information in returned events."}],"tags":["Events"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClickhouseEvent"}},"text/csv":{"schema":{"$ref":"#/components/schemas/ClickhouseEvent"}}},"description":""}}}},"/api/datasets/{dataset_id}/insights/":{"get":{"description":"Insights: The core analytical components within Analytics where users create specific analyses and  visualizations from their data. Examples include Trends, Funnels, Retention, User Paths, Stickiness, Lifecycle, and SQL Insights.\n\nGet a list of insights for a specific dataset.\n","operationId":"insights_list","parameters":[{"in":"query","name":"created_by","schema":{"type":"integer"}},{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"query","name":"format","schema":{"type":"string","enum":["csv","json"]}},{"name":"limit","required":false,"in":"query","description":"Number of results to return per page.","schema":{"type":"integer"}},{"name":"offset","required":false,"in":"query","description":"The initial index from which to return the results.","schema":{"type":"integer"}},{"in":"query","name":"short_id","schema":{"type":"string"}}],"tags":["Insights"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedInsightList"}},"text/csv":{"schema":{"$ref":"#/components/schemas/PaginatedInsightList"}}},"description":""}}}},"/api/datasets/{dataset_id}/insights/{id}/":{"get":{"description":"Insights: The core analytical components within Analytics where users create specific analyses and  visualizations from their data. Examples include Trends, Funnels, Retention, User Paths, Stickiness, Lifecycle, and SQL Insights.\n\nGet a specific insight from a specific dataset.\n","operationId":"insights_retrieve","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"query","name":"format","schema":{"type":"string","enum":["csv","json"]}},{"in":"query","name":"from_dashboard","schema":{"type":"integer"},"description":"\nWhen loading an insight for a dashboard pass a `from_dashboard` query parameter containing the dashboard ID\n\ne.g. `\"/api/datasets/{team_id}/insights/{insight_id}?from_dashboard={dashboard_id}\"`\n\nInsights can be added to more than one dashboard, this allows the insight to be loaded in the correct context.\n\nUsing the correct cache and enriching the response with dashboard specific config (e.g. layouts or colors)"},{"in":"path","name":"id","schema":{"type":"integer"},"description":"A unique integer value identifying this insight.","required":true},{"in":"query","name":"refresh","schema":{"type":"boolean"},"description":"\n                The client can request that an insight be refreshed by setting the `refresh=true` parameter.\n                The server will then decide if the data should or not be refreshed based on a set of heuristics\n                meant to determine the staleness of cached data. The result will contain as `is_cached` field\n                that indicates whether the insight was actually refreshed or not through the request."}],"tags":["Insights"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Insight"}},"text/csv":{"schema":{"$ref":"#/components/schemas/Insight"}}},"description":""}}}},"/api/datasets/{dataset_id}/insights/funnel/":{"get":{"description":"Insights: The core analytical components within Analytics where users create specific analyses and  visualizations from their data. Examples include Trends, Funnels, Retention, User Paths, Stickiness, Lifecycle, and SQL Insights.\n\nGet a funnel insight for a specific dataset.\n","operationId":"insights_funnel_retrieve","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"query","name":"format","schema":{"type":"string","enum":["csv","json"]}}],"tags":["Insights"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Insight"}},"text/csv":{"schema":{"$ref":"#/components/schemas/Insight"}}},"description":""}}}},"/api/datasets/{dataset_id}/insights/path/":{"get":{"description":"Insights: The core analytical components within Analytics where users create specific analyses and  visualizations from their data. Examples include Trends, Funnels, Retention, User Paths, Stickiness, Lifecycle, and SQL Insights.\n\nGet a path insight for a specific dataset.\n","operationId":"insights_path_retrieve","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"query","name":"format","schema":{"type":"string","enum":["csv","json"]}}],"tags":["Insights"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Insight"}},"text/csv":{"schema":{"$ref":"#/components/schemas/Insight"}}},"description":""}}}},"/api/datasets/{dataset_id}/insights/retention/":{"get":{"description":"Insights: The core analytical components within Analytics where users create specific analyses and  visualizations from their data. Examples include Trends, Funnels, Retention, User Paths, Stickiness, Lifecycle, and SQL Insights.\n\nGet a retention insight for a specific dataset.\n","operationId":"insights_retention_retrieve","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"query","name":"format","schema":{"type":"string","enum":["csv","json"]}}],"tags":["Insights"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Insight"}},"text/csv":{"schema":{"$ref":"#/components/schemas/Insight"}}},"description":""}}}},"/api/datasets/{dataset_id}/insights/trend/":{"get":{"description":"Insights: The core analytical components within Analytics where users create specific analyses and  visualizations from their data. Examples include Trends, Funnels, Retention, User Paths, Stickiness, Lifecycle, and SQL Insights.\n\nGet a trend insight for a specific dataset.\n","operationId":"insights_trend_retrieve","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"query","name":"format","schema":{"type":"string","enum":["csv","json"]}}],"tags":["Insights"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Insight"}},"text/csv":{"schema":{"$ref":"#/components/schemas/Insight"}}},"description":""}}}},"/api/datasets/{dataset_id}/kpis/":{"get":{"description":"Get a list of KPIs for a specific dataset.\n","operationId":"kpis_list","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"name":"limit","required":false,"in":"query","description":"Number of results to return per page.","schema":{"type":"integer"}},{"name":"offset","required":false,"in":"query","description":"The initial index from which to return the results.","schema":{"type":"integer"}},{"name":"ordering","required":false,"in":"query","description":"Which field to use when ordering the results.","schema":{"type":"string"}}],"tags":["KPIs"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedKPIList"}}},"description":""}}}},"/api/datasets/{dataset_id}/kpis/{id}/":{"get":{"description":"Get a specific KPI from a specific dataset.\n","operationId":"kpis_retrieve","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"path","name":"id","schema":{"type":"integer"},"description":"A unique integer value identifying this kpi.","required":true}],"tags":["KPIs"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KPI"}}},"description":""}}}},"/api/datasets/{dataset_id}/persons/":{"get":{"description":"Person / Persons: A feature within Data Management representing individual users tracked by Analytics.  The \"Persons\" list allows accessing detailed profiles for each user, showing their associated properties, event history, cohort memberships, and related replays.\n\nGet a list of persons for a specific dataset.\n","operationId":"persons_list","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"query","name":"distinct_id","schema":{"type":"string"},"description":"Filter list by distinct id."},{"in":"query","name":"email","schema":{"type":"string"},"description":"Filter persons by email (exact match)","examples":{"Email":{"value":"test@test.com","summary":"email"}}},{"in":"query","name":"format","schema":{"type":"string","enum":["csv","json"]}},{"name":"limit","required":false,"in":"query","description":"Number of results to return per page.","schema":{"type":"integer"}},{"name":"offset","required":false,"in":"query","description":"The initial index from which to return the results.","schema":{"type":"integer"}},{"in":"query","name":"properties","schema":{"type":"array","items":{"$ref":"#/components/schemas/Property"}},"description":"Filter Persons by person properties."},{"in":"query","name":"search","schema":{"type":"string"},"description":"Search persons, either by email (full text search) or distinct_id (exact match)."}],"tags":["Persons"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedPersonList"}},"text/csv":{"schema":{"$ref":"#/components/schemas/PaginatedPersonList"}}},"description":""}}}},"/api/datasets/{dataset_id}/persons/{id}/":{"get":{"description":"Person / Persons: A feature within Data Management representing individual users tracked by Analytics.  The \"Persons\" list allows accessing detailed profiles for each user, showing their associated properties, event history, cohort memberships, and related replays.\n\nGet a specific person from a specific dataset.\n","operationId":"persons_retrieve","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"query","name":"format","schema":{"type":"string","enum":["csv","json"]}},{"in":"path","name":"id","schema":{"type":"integer"},"description":"A unique integer value identifying this person.","required":true}],"tags":["Persons"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Person"}},"text/csv":{"schema":{"$ref":"#/components/schemas/Person"}}},"description":""}}}},"/api/datasets/{dataset_id}/property_definitions/":{"get":{"description":"Property Definitions: Metadata about the properties associated with events, persons, or groups in Analytics.  Property definitions provide context and details about the attributes tracked, such as data type, usage frequency, and whether they are numerical.\n\nGet a list of property definitions for a specific dataset.\n","operationId":"property_definitions_retrieve","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"query","name":"event_names","schema":{"type":"string","minLength":1},"description":"If sent, response value will have `is_seen_on_filtered_events` populated. JSON-encoded"},{"in":"query","name":"excluded_properties","schema":{"type":"string","minLength":1},"description":"JSON-encoded list of excluded properties"},{"in":"query","name":"filter_by_event_names","schema":{"type":"boolean","nullable":true},"description":"Whether to return only properties for events in `event_names`"},{"in":"query","name":"group_type_index","schema":{"type":"integer"},"description":"What group type is the property for. Only should be set if `type=group`"},{"in":"query","name":"is_feature_flag","schema":{"type":"boolean","nullable":true},"description":"Whether to return only (or excluding) feature flag properties"},{"in":"query","name":"is_numerical","schema":{"type":"boolean","nullable":true},"description":"Whether to return only (or excluding) numerical property definitions"},{"in":"query","name":"properties","schema":{"type":"string","minLength":1},"description":"Comma-separated list of properties to filter"},{"in":"query","name":"search","schema":{"type":"string"},"description":"Searches properties by name"},{"in":"query","name":"type","schema":{"enum":["event","person","group"],"type":"string","default":"event","minLength":1},"description":"What property definitions to return"}],"tags":["Property Definitions"],"responses":{"200":{"description":"No response body"}}}},"/api/datasets/{dataset_id}/property_definitions/{id}/":{"get":{"description":"Property Definitions: Metadata about the properties associated with events, persons, or groups in Analytics.  Property definitions provide context and details about the attributes tracked, such as data type, usage frequency, and whether they are numerical.\n\nGet a specific property definition from a specific dataset.\n","operationId":"property_definitions_retrieve_2","parameters":[{"in":"path","name":"dataset_id","required":true,"schema":{"type":"string"},"description":"Dataset ID of the dataset you're trying to access. To find the ID of the dataset, make a call to /api/datasets/."},{"in":"path","name":"id","schema":{"type":"string"},"required":true}],"tags":["Property Definitions"],"responses":{"200":{"description":"No response body"}}}},"/api/datasets/{id}/":{"get":{"operationId":"retrieve","description":"Dataset: A distinct collection of analytics data, typically corresponding to an environment \n        (e.g., \"Production\", \"Testing\", \"Development\").\n\nGet a specific dataset by ID.\n","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"description":"id|uuid","required":true,"examples":{"Id":{"value":"\\d+","summary":"id"},"Uuid":{"value":"[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}","summary":"uuid"}}}],"tags":["Datasets"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBasic"}}},"description":""}}}},"/api/organization/":{"get":{"description":"Organization: The top-level entity within the Pypestream platform structure. An organization can contain  multiple Projects. Access might be switched via an Organization Selector.\n\nGet a list of organizations.\n","operationId":"organization_list","parameters":[{"name":"limit","required":false,"in":"query","description":"Number of results to return per page.","schema":{"type":"integer"}},{"name":"offset","required":false,"in":"query","description":"The initial index from which to return the results.","schema":{"type":"integer"}}],"tags":["Organization","Organization"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedOrganizationList"}}},"description":""}}}},"/api/organization/{id}/":{"get":{"description":"Organization: The top-level entity within the Pypestream platform structure. An organization can contain  multiple Projects. Access might be switched via an Organization Selector.\n\nGet a specific organization by ID.\n","operationId":"organization_retrieve","parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"description":"A UUID string identifying this organization.","required":true}],"tags":["Organization","Organization"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Organization"}}},"description":""}}}},"/api/projects/":{"get":{"description":"Project: A container within a Pypestream Organization used to group related solutions, analytics data,  and settings. Users select the Project they want to work within via the Project Selector.\n\nGet a list of projects.\n","operationId":"list_2","parameters":[{"name":"limit","required":false,"in":"query","description":"Number of results to return per page.","schema":{"type":"integer"}},{"name":"offset","required":false,"in":"query","description":"The initial index from which to return the results.","schema":{"type":"integer"}}],"tags":["Projects","Projects"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedProjectList"}}},"description":""}}}},"/api/projects/{id}/":{"get":{"description":"Project: A container within a Pypestream Organization used to group related solutions, analytics data,  and settings. Users select the Project they want to work within via the Project Selector.\n\nGet a specific project by ID.\n","operationId":"retrieve_2","parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"description":"A UUID string identifying this project.","required":true}],"tags":["Projects","Projects"],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}},"description":""}}}}},"components":{"securitySchemes":{"APIKey":{"type":"http","scheme":"bearer"}},"schemas":{"Action":{"type":"object","description":"Serializer mixin that resolves appropriate response for tags depending on license.","properties":{"id":{"type":"integer","readOnly":true},"name":{"type":"string","nullable":true,"maxLength":400},"description":{"type":"string"},"tags":{"type":"array","items":{}},"post_to_slack":{"type":"boolean"},"slack_message_format":{"type":"string","maxLength":600},"steps":{"type":"array","items":{"$ref":"#/components/schemas/ActionStep"}},"created_at":{"type":"string","format":"date-time","readOnly":true},"created_by":{"allOf":[{"$ref":"#/components/schemas/UserBasic"}],"readOnly":true},"deleted":{"type":"boolean"},"is_calculating":{"type":"boolean","readOnly":true},"last_calculated_at":{"type":"string","format":"date-time"},"team_id":{"type":"integer","readOnly":true},"is_action":{"type":"boolean","readOnly":true,"default":true}},"required":["created_at","created_by","id","is_action","is_calculating","team_id"]},"ActionStep":{"type":"object","properties":{"id":{"type":"string"},"event":{"type":"string","nullable":true,"maxLength":400},"tag_name":{"type":"string","nullable":true,"maxLength":400},"text":{"type":"string","nullable":true,"maxLength":400},"text_matching":{"enum":["contains","regex","exact","",null],"type":"string","nullable":true},"href":{"type":"string","nullable":true,"maxLength":65535},"href_matching":{"enum":["contains","regex","exact","",null],"type":"string","nullable":true},"selector":{"type":"string","nullable":true,"maxLength":65535},"url":{"type":"string","nullable":true,"maxLength":65535},"name":{"type":"string","nullable":true,"maxLength":400},"url_matching":{"enum":["contains","regex","exact","",null],"type":"string","nullable":true},"properties":{"type":"object","additionalProperties":{},"nullable":true}}},"Annotation":{"type":"object","properties":{"id":{"type":"integer","readOnly":true},"content":{"type":"string","nullable":true,"maxLength":400},"date_marker":{"type":"string","format":"date-time","nullable":true},"creation_type":{"enum":["USR","GIT"],"type":"string"},"dashboard_item":{"type":"integer","nullable":true},"insight_short_id":{"type":"string","nullable":true,"readOnly":true},"insight_name":{"type":"string","nullable":true,"readOnly":true},"created_by":{"allOf":[{"$ref":"#/components/schemas/UserBasic"}],"readOnly":true},"created_at":{"type":"string","format":"date-time","readOnly":true,"nullable":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"deleted":{"type":"boolean"},"scope":{"enum":["dashboard_item","dataset","project"],"type":"string"}},"required":["created_at","created_by","id","insight_name","insight_short_id","updated_at"]},"PatchedBatchExport":{"type":"object","description":"Serializer for a BatchExport model.","properties":{"id":{"type":"string","format":"uuid","readOnly":true},"name":{"type":"string","description":"A human-readable name for this BatchExport."},"destination":{"$ref":"#/components/schemas/BatchExportDestination"},"interval":{"enum":["hour","day"],"type":"string","description":"The interval at which to export data."},"paused":{"type":"boolean","readOnly":true,"description":"Whether this BatchExport is paused or not."},"created_at":{"type":"string","format":"date-time","readOnly":true,"description":"The timestamp at which this BatchExport was created."},"last_updated_at":{"type":"string","format":"date-time","readOnly":true,"description":"The timestamp at which this BatchExport was last updated."},"last_paused_at":{"type":"string","format":"date-time","nullable":true,"description":"The timestamp at which this BatchExport was last paused."},"start_at":{"type":"string","format":"date-time","nullable":true,"description":"Time before which any Batch Export runs won't be triggered."},"end_at":{"type":"string","format":"date-time","nullable":true,"description":"Time after which any Batch Export runs won't be triggered."},"trigger_immediately":{"type":"boolean","default":false},"mask_pii":{"type":"boolean","default":false,"description":"If true, personally identifiable information is masked in the properties of exported events. A property is considered to contain PII if a retention period is set for it."}}},"BatchExportBackfill":{"type":"object","properties":{"start_at":{"type":"string","format":"date-time","description":"The start date and time for the backfill in ISO format."},"end_at":{"type":"string","format":"date-time","description":"The end date and time for the backfill in ISO format."}},"required":["start_at","end_at"]},"BatchExportUnpause":{"type":"object","properties":{"backfill":{"type":"boolean","description":"Whether to backfill the export for the period it was paused.","default":false}}},"BatchExportPauseUnpauseResponse":{"type":"object","properties":{"paused":{"type":"boolean","description":"Whether the batch export is now paused."}}},"BatchExport":{"type":"object","description":"Serializer for a BatchExport model.","properties":{"id":{"type":"string","format":"uuid","readOnly":true},"name":{"type":"string","description":"A human-readable name for this BatchExport."},"destination":{"$ref":"#/components/schemas/BatchExportDestination"},"interval":{"enum":["hour","day"],"type":"string","description":"The interval at which to export data."},"paused":{"type":"boolean","readOnly":true,"description":"Whether this BatchExport is paused or not."},"mask_pii":{"type":"boolean","default":false,"description":"If true, personally identifiable information is masked in the properties of exported events. A property is considered to contain PII if a retention period is set for it."},"created_at":{"type":"string","format":"date-time","readOnly":true,"description":"The timestamp at which this BatchExport was created."},"last_updated_at":{"type":"string","format":"date-time","readOnly":true,"description":"The timestamp at which this BatchExport was last updated."},"last_paused_at":{"type":"string","format":"date-time","nullable":true,"description":"The timestamp at which this BatchExport was last paused."},"start_at":{"type":"string","format":"date-time","nullable":true,"description":"Time before which any Batch Export runs won't be triggered."},"end_at":{"type":"string","format":"date-time","nullable":true,"description":"Time after which any Batch Export runs won't be triggered."},"trigger_immediately":{"type":"boolean","default":false}},"required":["created_at","destination","id","last_updated_at","name","paused"]},"BatchExportDestination":{"type":"object","description":"Serializer for an BatchExportDestination model.","properties":{"type":{"enum":["S3","Snowflake"],"type":"string","description":"A choice of supported BatchExportDestination types."},"config":{"description":"Configuration parameters for the destination. Shape depends on `type`.","oneOf":[{"$ref":"#/components/schemas/S3BatchExportConfig"},{"$ref":"#/components/schemas/SnowflakeBatchExportConfig"}]}},"required":["type"]},"S3BatchExportConfig":{"type":"object","description":"Configuration required to export batches to Amazon S3.","properties":{"bucket_name":{"type":"string","description":"Name of the S3 bucket to write to."},"region":{"type":"string","description":"AWS region of the S3 bucket (e.g. us-east-1)."},"prefix":{"type":"string","description":"Key prefix within the bucket where exported files are written."},"batch_window_size":{"type":"integer","description":"Size of the batching window in seconds."},"aws_access_key_id":{"type":"string","description":"AWS access key ID used for authentication."},"aws_secret_access_key":{"type":"string","description":"AWS secret access key used for authentication."}},"required":["bucket_name","region","prefix","batch_window_size","aws_access_key_id","aws_secret_access_key"]},"SnowflakeBatchExportConfig":{"type":"object","description":"Configuration required to export batches to Snowflake.","properties":{"user":{"type":"string","description":"Snowflake user name."},"password":{"type":"string","description":"Snowflake user password."},"account":{"type":"string","description":"Snowflake account identifier."},"database":{"type":"string","description":"Target Snowflake database name."},"schema":{"type":"string","description":"Target Snowflake schema name."},"warehouse":{"type":"string","description":"Snowflake virtual warehouse to use."},"table_name":{"type":"string","description":"Target table name within the database/schema."}},"required":["user","password","account","database","schema","warehouse","table_name"]},"BatchExportRun":{"type":"object","description":"Serializer for a BatchExportRun model.","properties":{"id":{"type":"string","format":"uuid","readOnly":true},"status":{"enum":["Cancelled","Completed","ContinuedAsNew","Failed","Terminated","TimedOut","Running","Starting"],"type":"string","description":"The status of this run."},"records_completed":{"type":"integer","maximum":2147483647,"minimum":-2147483648,"nullable":true,"description":"The number of records that have been exported."},"latest_error":{"type":"string","nullable":true,"description":"The latest error that occurred during this run."},"data_interval_start":{"type":"string","format":"date-time","description":"The start of the data interval."},"data_interval_end":{"type":"string","format":"date-time","description":"The end of the data interval."},"cursor":{"type":"string","nullable":true,"description":"An opaque cursor that may be used to resume."},"created_at":{"type":"string","format":"date-time","readOnly":true,"description":"The timestamp at which this BatchExportRun was created."},"finished_at":{"type":"string","format":"date-time","nullable":true,"description":"The timestamp at which this BatchExportRun finished, successfully or not."},"last_updated_at":{"type":"string","format":"date-time","readOnly":true,"description":"The timestamp at which this BatchExportRun was last updated."},"batch_export":{"type":"string","format":"uuid","readOnly":true,"description":"The BatchExport this run belongs to."}},"required":["batch_export","created_at","data_interval_end","data_interval_start","id","last_updated_at","status"]},"ClickhouseEvent":{"type":"object","properties":{"id":{"type":"string","readOnly":true},"distinct_id":{"type":"string","readOnly":true},"properties":{"type":"string","readOnly":true},"event":{"type":"string","readOnly":true},"timestamp":{"type":"string","readOnly":true},"person":{"type":"string","readOnly":true},"elements":{"type":"string","readOnly":true},"elements_chain":{"type":"string","readOnly":true}},"required":["distinct_id","elements","elements_chain","event","id","person","properties","timestamp"]},"Cohort":{"type":"object","properties":{"id":{"type":"integer","readOnly":true},"name":{"type":"string","nullable":true,"maxLength":400},"description":{"type":"string","maxLength":1000},"groups":{"type":"object","additionalProperties":{}},"deleted":{"type":"boolean"},"filters":{"type":"object","additionalProperties":{},"nullable":true},"is_calculating":{"type":"boolean","readOnly":true},"created_by":{"allOf":[{"$ref":"#/components/schemas/UserBasic"}],"readOnly":true},"created_at":{"type":"string","format":"date-time","readOnly":true,"nullable":true},"last_calculation":{"type":"string","format":"date-time","readOnly":true,"nullable":true},"errors_calculating":{"type":"integer","readOnly":true},"count":{"type":"integer","readOnly":true,"nullable":true},"is_static":{"type":"boolean"}},"required":["count","created_at","created_by","errors_calculating","id","is_calculating","last_calculation"]},"Dashboard":{"type":"object","description":"Serializer mixin that resolves appropriate response for tags depending on license.","properties":{"id":{"type":"integer","readOnly":true},"name":{"type":"string","nullable":true,"maxLength":400},"description":{"type":"string"},"pinned":{"type":"boolean"},"created_at":{"type":"string","format":"date-time","readOnly":true},"created_by":{"allOf":[{"$ref":"#/components/schemas/UserBasic"}],"readOnly":true},"is_shared":{"type":"boolean","readOnly":true},"deleted":{"type":"boolean"},"creation_mode":{"enum":["default","template","duplicate"],"type":"string","readOnly":true},"use_template":{"type":"string","writeOnly":true},"use_dashboard":{"type":"integer","writeOnly":true,"nullable":true},"delete_insights":{"type":"boolean","writeOnly":true,"default":false},"filters":{"type":"object","additionalProperties":{}},"tags":{"type":"array","items":{}},"tiles":{"type":"string","readOnly":true},"restriction_level":{"enum":[21,37],"type":"integer","minimum":0,"maximum":32767},"effective_restriction_level":{"enum":[21,37],"type":"integer","readOnly":true},"effective_privilege_level":{"enum":[21,37],"type":"integer","readOnly":true}},"required":["created_at","created_by","creation_mode","effective_privilege_level","effective_restriction_level","id","is_shared","tiles"]},"DashboardBasic":{"type":"object","description":"Serializer mixin that resolves appropriate response for tags depending on license.","properties":{"id":{"type":"integer","readOnly":true},"name":{"type":"string","readOnly":true,"nullable":true},"description":{"type":"string","readOnly":true},"pinned":{"type":"boolean","readOnly":true},"created_at":{"type":"string","format":"date-time","readOnly":true},"created_by":{"allOf":[{"$ref":"#/components/schemas/UserBasic"}],"readOnly":true},"is_shared":{"type":"boolean","readOnly":true},"deleted":{"type":"boolean","readOnly":true},"creation_mode":{"enum":["default","template","duplicate"],"type":"string","readOnly":true},"tags":{"type":"array","items":{}},"restriction_level":{"enum":[21,37],"type":"integer","readOnly":true},"effective_restriction_level":{"enum":[21,37],"type":"integer","readOnly":true},"effective_privilege_level":{"enum":[21,37],"type":"integer","readOnly":true}},"required":["created_at","created_by","creation_mode","deleted","description","effective_privilege_level","effective_restriction_level","id","is_shared","name","pinned","restriction_level"]},"DashboardTileBasic":{"type":"object","properties":{"id":{"type":"integer","readOnly":true},"dashboard_id":{"type":"integer","readOnly":true},"deleted":{"type":"boolean","nullable":true}},"required":["dashboard_id","id"]},"EventDefinition":{"type":"object","description":"Serializer mixin that resolves appropriate response for tags depending on license.","properties":{"id":{"type":"string","format":"uuid","readOnly":true},"name":{"type":"string","maxLength":400},"volume_30_day":{"type":"integer","maximum":2147483647,"minimum":-2147483648,"nullable":true},"query_usage_30_day":{"type":"integer","maximum":2147483647,"minimum":-2147483648,"nullable":true},"created_at":{"type":"string","format":"date-time","nullable":true},"last_seen_at":{"type":"string","format":"date-time","nullable":true},"last_updated_at":{"type":"string","format":"date-time","readOnly":true},"tags":{"type":"array","items":{}},"is_action":{"type":"string","readOnly":true},"action_id":{"type":"integer","readOnly":true},"is_calculating":{"type":"boolean","readOnly":true},"last_calculated_at":{"type":"string","format":"date-time","readOnly":true},"created_by":{"allOf":[{"$ref":"#/components/schemas/UserBasic"}],"readOnly":true},"post_to_slack":{"type":"boolean","default":false},"description":{"type":"string","nullable":true}},"required":["action_id","created_by","id","is_action","is_calculating","last_calculated_at","last_updated_at","name"]},"Insight":{"type":"object","description":"Simplified serializer to speed response times when loading large amounts of objects.","properties":{"caching_details":{"type":"string","readOnly":true,"description":"Details about the decision to refresh this insight"},"created_at":{"type":"string","format":"date-time","readOnly":true,"nullable":true},"created_by":{"allOf":[{"$ref":"#/components/schemas/UserBasic"}],"readOnly":true},"crop_enabled":{"type":"boolean","default":false},"dashboard_tiles":{"type":"array","items":{"$ref":"#/components/schemas/DashboardTileBasic"},"readOnly":true,"description":"\n    A dashboard tile ID and dashboard_id for each of the dashboards that this insight is displayed on.\n    "},"dashboards":{"type":"array","items":{"type":"integer"},"description":"\n        DEPRECATED. Will be removed in a future release. Use dashboard_tiles instead.\n        A dashboard ID for each of the dashboards that this insight is displayed on.\n        "},"deleted":{"type":"boolean"},"derived_name":{"type":"string","nullable":true,"maxLength":400},"description":{"type":"string","nullable":true,"maxLength":400},"effective_privilege_level":{"enum":[21,37],"type":"integer","readOnly":true},"effective_restriction_level":{"enum":[21,37],"type":"integer","readOnly":true},"favorited":{"type":"boolean"},"filters":{"type":"object","additionalProperties":{}},"id":{"type":"integer","readOnly":true},"iframe_display_params":{"type":"object","additionalProperties":{},"nullable":true},"iframe_type":{"enum":["looker",null],"type":"string","nullable":true},"iframe_url":{"type":"string","format":"uri","nullable":true},"is_cached":{"type":"string","readOnly":true},"is_sample":{"type":"boolean","readOnly":true},"last_modified_at":{"type":"string","format":"date-time","readOnly":true},"last_modified_by":{"allOf":[{"$ref":"#/components/schemas/UserBasic"}],"readOnly":true},"last_refresh":{"type":"string","readOnly":true,"description":"\n    The datetime this insight's results were generated.\n    If added to one or more dashboards the insight can be refreshed separately on each.\n    Returns the appropriate last_refresh datetime for the context the insight is viewed in\n    (see from_dashboard query parameter).\n    "},"name":{"type":"string","nullable":true,"maxLength":400},"next_allowed_client_refresh":{"type":"string","readOnly":true,"description":"\n    The earliest possible datetime at which we'll allow the cached results for this insight to be refreshed\n    by querying the database.\n    "},"order":{"type":"integer","maximum":2147483647,"minimum":-2147483648,"nullable":true},"query":{"type":"object","additionalProperties":{},"nullable":true,"description":"Query node JSON string"},"result":{"type":"string","readOnly":true},"saved":{"type":"boolean"},"short_id":{"type":"string","readOnly":true},"tags":{"type":"array","items":{}},"timezone":{"type":"string","readOnly":true,"description":"The timezone this chart is displayed in."},"updated_at":{"type":"string","format":"date-time","readOnly":true}},"required":["caching_details","created_at","created_by","dashboard_tiles","effective_privilege_level","effective_restriction_level","id","is_cached","is_sample","last_modified_at","last_modified_by","last_refresh","next_allowed_client_refresh","result","short_id","timezone","updated_at"]},"KPI":{"type":"object","properties":{"id":{"type":"integer","readOnly":true},"name":{"type":"string","description":"Human-readable name of the KPI","maxLength":400},"kpi_row":{"type":"integer","description":"The dashboard tile associated with this KPI"},"insight":{"type":"integer","description":"The insight that powers this KPI's calculations"},"order":{"type":"integer","maximum":2147483647,"minimum":0,"default":0,"description":"Position of this KPI within its row"},"trend":{"type":"string","readOnly":true},"created_at":{"type":"string","format":"date-time","readOnly":true,"description":"Timestamp when this KPI was created"},"last_updated_at":{"type":"string","format":"date-time","readOnly":true,"description":"Timestamp when this KPI was last updated"},"created_by":{"type":"integer","readOnly":true,"nullable":true,"description":"User who created this KPI"},"last_updated_by":{"type":"integer","readOnly":true,"nullable":true,"description":"User who last updated this KPI"}},"required":["created_at","created_by","id","insight","kpi_row","last_updated_at","last_updated_by","name","Trend"]},"Organization":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string","maxLength":400},"status":{"enum":["ACTIVE","LOCKED"],"type":"string"},"is_managed":{"type":"boolean"},"parent":{"type":"string","format":"uuid","nullable":true}},"required":["name"]},"PaginatedActionList":{"type":"object","properties":{"count":{"type":"integer","example":123},"next":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=400&limit=100"},"previous":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=200&limit=100"},"results":{"type":"array","items":{"$ref":"#/components/schemas/Action"}}}},"PaginatedAnnotationList":{"type":"object","properties":{"count":{"type":"integer","example":123},"next":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=400&limit=100"},"previous":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=200&limit=100"},"results":{"type":"array","items":{"$ref":"#/components/schemas/Annotation"}}}},"PaginatedBatchExportList":{"type":"object","properties":{"count":{"type":"integer","example":123},"next":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=400&limit=100"},"previous":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=200&limit=100"},"results":{"type":"array","items":{"$ref":"#/components/schemas/BatchExport"}}}},"PaginatedBatchExportRunList":{"type":"object","properties":{"count":{"type":"integer","example":123},"next":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=400&limit=100"},"previous":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=200&limit=100"},"results":{"type":"array","items":{"$ref":"#/components/schemas/BatchExportRun"}}}},"PaginatedClickhouseEventList":{"type":"object","properties":{"count":{"type":"integer","example":123},"next":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=400&limit=100"},"previous":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=200&limit=100"},"results":{"type":"array","items":{"$ref":"#/components/schemas/ClickhouseEvent"}}}},"PaginatedCohortList":{"type":"object","properties":{"count":{"type":"integer","example":123},"next":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=400&limit=100"},"previous":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=200&limit=100"},"results":{"type":"array","items":{"$ref":"#/components/schemas/Cohort"}}}},"PaginatedDashboardBasicList":{"type":"object","properties":{"count":{"type":"integer","example":123},"next":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=400&limit=100"},"previous":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=200&limit=100"},"results":{"type":"array","items":{"$ref":"#/components/schemas/DashboardBasic"}}}},"PaginatedEventDefinitionList":{"type":"object","properties":{"count":{"type":"integer","example":123},"next":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=400&limit=100"},"previous":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=200&limit=100"},"results":{"type":"array","items":{"$ref":"#/components/schemas/EventDefinition"}}}},"PaginatedInsightList":{"type":"object","properties":{"count":{"type":"integer","example":123},"next":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=400&limit=100"},"previous":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=200&limit=100"},"results":{"type":"array","items":{"$ref":"#/components/schemas/Insight"}}}},"PaginatedKPIList":{"type":"object","properties":{"count":{"type":"integer","example":123},"next":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=400&limit=100"},"previous":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=200&limit=100"},"results":{"type":"array","items":{"$ref":"#/components/schemas/KPI"}}}},"PaginatedOrganizationList":{"type":"object","properties":{"count":{"type":"integer","example":123},"next":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=400&limit=100"},"previous":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=200&limit=100"},"results":{"type":"array","items":{"$ref":"#/components/schemas/Organization"}}}},"PaginatedPersonList":{"type":"object","properties":{"next":{"type":"string","nullable":true,"format":"uri","example":"https://analytics.pypestream.com/api/datasets/{dataset_id}/accounts/?offset=400&limit=100"},"previous":{"type":"string","nullable":true,"format":"uri","example":"https://analytics.pypestream.com/api/datasets/{dataset_id}/accounts/?offset=400&limit=100"},"count":{"type":"integer","example":400},"results":{"type":"array","items":{"$ref":"#/components/schemas/Person"}}}},"PaginatedProjectList":{"type":"object","properties":{"count":{"type":"integer","example":123},"next":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=400&limit=100"},"previous":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=200&limit=100"},"results":{"type":"array","items":{"$ref":"#/components/schemas/Project"}}}},"PaginatedTeamBasicList":{"type":"object","properties":{"count":{"type":"integer","example":123},"next":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=400&limit=100"},"previous":{"type":"string","nullable":true,"format":"uri","example":"http://api.example.org/accounts/?offset=200&limit=100"},"results":{"type":"array","items":{"$ref":"#/components/schemas/TeamBasic"}}}},"Person":{"type":"object","properties":{"id":{"type":"integer","readOnly":true},"name":{"type":"string","readOnly":true},"distinct_ids":{"type":"array","items":{"type":"string"},"readOnly":true},"properties":{"type":"object","additionalProperties":{}},"created_at":{"type":"string","format":"date-time","readOnly":true},"uuid":{"type":"string","format":"uuid","readOnly":true}},"required":["created_at","distinct_ids","id","name","uuid"]},"Project":{"type":"object","properties":{"id":{"type":"string","format":"uuid","readOnly":true},"name":{"type":"string","readOnly":true},"slug":{"type":"string","readOnly":true,"pattern":"^[-a-zA-Z0-9_]+$"},"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"membership_level":{"enum":[1,8,15],"type":"integer","nullable":true,"readOnly":true},"plugins_access_level":{"enum":[0,3,6,9],"type":"integer","readOnly":true},"teams":{"type":"array","items":{"type":"object","additionalProperties":{}},"readOnly":true},"available_features":{"type":"array","items":{"type":"string","maxLength":64},"readOnly":true},"available_product_features":{"type":"array","items":{"type":"object","additionalProperties":{}},"readOnly":true,"nullable":true},"is_member_join_email_enabled":{"type":"boolean"},"metadata":{"type":"string","readOnly":true},"customer_id":{"type":"string","readOnly":true,"nullable":true},"enforce_2fa":{"type":"boolean","readOnly":true,"nullable":true}},"required":["available_features","available_product_features","created_at","customer_id","enforce_2fa","id","Membership_level","metadata","name","Plugins_access_level","slug","teams","updated_at"]},"Property":{"type":"object","properties":{"type":{"enum":["AND","OR"],"type":"string","default":"AND","description":"\n You can use a simplified version:\n```json\n{\n    \"properties\": [\n        {\n            \"key\": \"email\",\n            \"value\": \"x@y.com\",\n            \"operator\": \"exact\",\n            \"type\": \"event\"\n        }\n    ]\n}\n```\n\nOr you can create more complicated queries with AND and OR:\n```json\n{\n    \"properties\": {\n        \"type\": \"AND\",\n        \"values\": [\n            {\n                \"type\": \"OR\",\n                \"values\": [\n                    {\"key\": \"email\", ...},\n                    {\"key\": \"email\", ...}\n                ]\n            },\n            {\n                \"type\": \"AND\",\n                \"values\": [\n                    {\"key\": \"email\", ...},\n                    {\"key\": \"email\", ...}\n                ]\n            }\n        ]\n    ]\n}\n```\n"},"values":{"type":"array","items":{"$ref":"#/components/schemas/PropertyItem"}}},"required":["values"]},"PropertyItem":{"type":"object","properties":{"key":{"type":"string","description":"Key of the property you're filtering on. For example `email` or `$current_url`"},"value":{"type":"string","description":"Value of your filter. For example `test@example.com` or `https://example.com/test/`. Can be an array for an OR query, like `[\"test@example.com\",\"ok@example.com\"]`"},"operator":{"enum":["exact","is_not","icontains","not_icontains","regex","not_regex","gt","lt","gte","lte","is_set","is_not_set","is_date_exact","is_date_after","is_date_before","",null],"type":"string","nullable":true,"default":"exact"},"type":{"enum":["event","person","cohort","element","static-cohort","precalculated-cohort","group","recording","behavioral","session","pypeql",""],"type":"string","default":"event"}},"required":["key","value"]},"TeamBasic":{"type":"object","description":"Serializer for `Team` model with minimal attributes to speeed up loading and transfer times.\nAlso used for nested serializers.","properties":{"id":{"type":"integer","readOnly":true},"uuid":{"type":"string","format":"uuid","readOnly":true},"project":{"type":"string","format":"uuid","readOnly":true},"api_token":{"type":"string","readOnly":true},"name":{"type":"string","readOnly":true},"completed_snippet_onboarding":{"type":"boolean","readOnly":true},"ingested_event":{"type":"boolean","readOnly":true},"is_demo":{"type":"boolean","readOnly":true},"timezone":{"type":"string","readOnly":true},"access_control":{"type":"boolean","readOnly":true}},"required":["access_control","api_token","completed_snippet_onboarding","id","ingested_event","is_demo","name","project","timezone","uuid"]},"Text":{"type":"object","properties":{"id":{"type":"integer","readOnly":true},"created_by":{"allOf":[{"$ref":"#/components/schemas/UserBasic"}],"readOnly":true},"last_modified_by":{"allOf":[{"$ref":"#/components/schemas/UserBasic"}],"readOnly":true},"body":{"type":"string","nullable":true,"maxLength":4000},"last_modified_at":{"type":"string","format":"date-time","readOnly":true},"team":{"type":"integer"}},"required":["created_by","id","last_modified_at","last_modified_by","team"]},"UserBasic":{"type":"object","properties":{"id":{"type":"integer","readOnly":true},"uuid":{"type":"string","format":"uuid","readOnly":true},"distinct_id":{"type":"string","nullable":true,"maxLength":200},"first_name":{"type":"string","maxLength":150},"email":{"type":"string","format":"email","title":"Email address","maxLength":254},"is_email_verified":{"type":"boolean","nullable":true}},"required":["email","id","uuid"]}}},"x-tagGroups":[{"name":"All endpoints","tags":["Actions","Annotations","Batch Exports","Change","Cohorts","Dashboards","Datasets","Domains","Event Definitions","Events","Funnel","Insights","KPIs","Members","Organization","Persons","Projects","Property Definitions","Query","Tags","Trend","Users","Warehouse Table"]}]}